<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">

      <div class="panel-heading">设定晨会分享</div>
      <div class="panel-body">

        <%= render 'form' %>

        <%= link_to '返回', shares_path, :class => 'btn btn-xs btn-primary' %>
      </div>
    </div>
  </div>
</div>