<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">已经点餐</div>

            <table class="table table-striped table-bordered" ng-controller="OrdersCtrl">
              <tr>
                <td style="text-align: center">人员</td>
                <td style="text-align: center">菜名</td>
              </tr>
              <tr ng-repeat="order in orders">
                <td style="text-align: center">{{order.remark}}</td>
                <td style="text-align: center">{{order.dish_name}}</td> 
                <!-- <a href='' ng - click="delete Order(order.id, $ index)">Delete</a> -->
              </tr>
            </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">今日菜单</div>
          <table class="table table-striped table-bordered">
            <tr>
              <th>菜名</th>
              <th>价格</th>
              <th>日期</th>
              <th>操作</th>
            </tr>

            <% @dishes_today.each do |dish| %>
                <tr>
                  <td><%= dish.name %></td>
                  <td><%= dish.price %></td>
                  <td><%= dish.set_date %></td>
                  <td><%= link_to '选择', dish_order_path(dish), :class => 'btn btn-xs btn-success submit_order', :id => 'submit_order' %>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">正在提交ing</h4>
      </div>
      <div class="modal-body">
        亲，请耐性等待，您的订餐正在提交中~~~
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


