<dl class="dl-horizontal">
  <!--<dt>部门</dt>-->
  <!--<dd>< % = @post.name %></dd>-->
  <dt>标题</dt>
  <dd><%= @post.title %></dd>
  <dt>内容</dt>
  <dd><%= @post.content %></dd>
  <!--<dt>评论</dt>-->
  <!--<dd>-->
    <!--< % = render @post.comments %>    -->
  <!--</dd>-->
</dl>

<fieldset>
  <div class="form-actions">
    <%= link_to '返回', posts_path , :class => 'btn' %>
  </div>
</fieldset>


