//$navbarHeight: 40px;
//$navbarBackground: white;

@import "bootstrap";
//@import "bootstrap-responsive";

/* universal */


html {
  overflow-y: scroll;
}

.navbar-nav {
  float: left;
  margin-top: 10px;
}

.bs-docs-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  border-top: 4px solid #68a639;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

body {
  padding-top: 100px;
}

div.nav-collapse {
  margin-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.footer {
	margin-top: 45px;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #E5E5E5;
}

.pull-right {
	float: right;
}