$navbarHeight: 40px;
$navbarBackground: white;

@import "bootstrap";
@import "bootstrap-responsive";

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

div.nav-collapse {
  margin-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.footer {
	margin-top: 45px;
	padding: 10px 20px 10px 20px;
	border-top: 1px solid #E5E5E5;
}

.pull-right {
	float: right;
}